<a href="https://colab.research.google.com/github/daiduong101202/AI--ChieuT6/blob/main/AI_W3_17_02_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#load library

In [ ]:
import pandas as pd

In [ ]:
#create dataframe

In [ ]:
dataframe = pd.DataFrame()

In [ ]:
#add colums

In [ ]:
dataframe['Name'] = ['Lemon','Apple', 'Banana']

In [ ]:
dataframe['Price']= [5,8,7]

In [ ]:
dataframe['License']=[False,True, True]

In [ ]:
#show data

In [ ]:
dataframe

     Name  Price  License
0   Lemon      5    False
1   Apple      8     True
2  Banana      7     True

In [ ]:
dataframe.shape

(3, 3)

In [ ]:
df=dataframe

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     3 non-null      object
 1   Price    3 non-null      int64
 2   License  3 non-null      bool
dtypes: bool(1), int64(1), object(1)
memory usage: 179.0+ bytes

In [ ]:
#print column name

In [ ]:
list(df.columns)

['Name', 'Price', 'License']

In [ ]:
#loc iloc

In [ ]:
df.loc[(df.Price==5)]

    Name  Price  License
0  Lemon      5    False

In [ ]:
df.loc[(df.Price==5)|(df.Name=='Banana')]

     Name  Price  License
0   Lemon      5    False
2  Banana      7     True

In [ ]:
df.loc[(df.Price==5)|(df.Name=='Banana'),['Name','Price']]

     Name  Price
0   Lemon      5
2  Banana      7

In [ ]:
df.iloc[[2]]

     Name  Price  License
2  Banana      7     True

In [ ]:
type(df.iloc[2])

pandas.core.series.Series

In [ ]:
df.iloc[0:2]

    Name  Price  License
0  Lemon      5    False
1  Apple      8     True

In [ ]:
df.iloc[0:3]

     Name  Price  License
0   Lemon      5    False
1   Apple      8     True
2  Banana      7     True

In [ ]:
df.iloc[0:2,0:-1]

    Name  Price
0  Lemon      5
1  Apple      8

In [ ]:
df.iloc[0:2,-1]

0    False
1     True
Name: License, dtype: bool

In [ ]:
df.iloc[0:3,-1]

0    False
1     True
2     True
Name: License, dtype: bool

In [ ]:
sum=df.Price.sum()

In [ ]:
print(sum)

20

In [ ]:
count=df['Price'].count()

In [ ]:
print(count)

3

In [ ]:
#create row data
new = pd.Series(['Orange',10,True], index=['Name','Price','License'])
#append row
dataframe.append(new,ignore_index=True)

     Name  Price  License
0   Lemon      5    False
1   Apple      8     True
2  Banana      7     True
3  Orange     10     True

In [ ]:
dataframe

     Name  Price  License
0   Lemon      5    False
1   Apple      8     True
2  Banana      7     True

In [ ]:
#append a column
dataframe['Location']=['USA','VN','SIN']
dataframe

     Name  Price  License Location
0   Lemon      5    False      USA
1   Apple      8     True       VN
2  Banana      7     True      SIN

In [ ]:
#delete a row
dataframe.drop(1,axis=0).head(10)

     Name  Price  License Location
0   Lemon      5    False      USA
2  Banana      7     True      SIN

In [ ]:
#delete a column
dataframe.drop('Location',axis=1).head()

     Name  Price  License
0   Lemon      5    False
1   Apple      8     True
2  Banana      7     True

In [ ]:
#replace
dataframe['Price'].replace(5,7).head(10)

0    7
1    8
2    7
Name: Price, dtype: int64

In [ ]:
dataframe

     Name  Price  License Location
0   Lemon      5    False      USA
1   Apple      8     True       VN
2  Banana      7     True      SIN

In [ ]:
#rename column
dataframe.rename(columns={'Price':'Cost'}).head()

     Name  Cost  License Location
0   Lemon     5    False      USA
1   Apple     8     True       VN
2  Banana     7     True      SIN

In [ ]:
#2 Knowing data

In [ ]:
# load library
import pandas as pd
# create url
url = 'http://winterolympicsmedals.com/medals.csv'
# load data
dataframe = pd.read_csv(url)
# show data
dataframe.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [ ]:
dataframe

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [ ]:
dataframe.shape

(2311, 8)

In [ ]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2311 entries, 0 to 2310
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          2311 non-null   int64
 1   City          2311 non-null   object
 2   Sport         2311 non-null   object
 3   Discipline    2311 non-null   object
 4   NOC           2311 non-null   object
 5   Event         2311 non-null   object
 6   Event gender  2311 non-null   object
 7   Medal         2311 non-null   object
dtypes: int64(1), object(7)
memory usage: 144.6+ KB

In [ ]:
data=dataframe

In [ ]:
data.describe()
# std: phuong sai
# mean: gia tri trung binh

              Year
count  2311.000000
mean   1980.361748
std      22.089091
min    1924.000000
25%    1968.000000
50%    1988.000000
75%    1998.000000
max    2006.000000

In [ ]:
data.iloc[0:10] # ~[:10]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
5,1924,Chamonix,Biathlon,Biathlon,FIN,military patrol,M,Silver
6,1924,Chamonix,Skating,Figure skating,FIN,pairs,X,Silver
7,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
8,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Silver
9,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold

In [ ]:
data.iloc[[200,]]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
200,1948,St. Moritz,Skiing,Nordic Combined,FIN,individual,M,Gold

In [ ]:
data.iloc[[120,]]

     Year         City      Sport Discipline  NOC     Event Event gender Medal
120  1932  Lake Placid  Bobsleigh  Bobsleigh  USA  four-man            M  Gold

In [ ]:
data=data.set_index(data['NOC'])

In [ ]:
data.loc['GER']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
GER,1928,St. Moritz,Bobsleigh,Bobsleigh,GER,five-man,M,Bronze
GER,1932,Lake Placid,Bobsleigh,Bobsleigh,GER,four-man,M,Bronze
GER,1932,Lake Placid,Ice Hockey,Ice Hockey,GER,ice hockey,M,Bronze
GER,1936,Garmisch-Partenkirchen,Skating,Figure skating,GER,individual,M,Silver
GER,1936,Garmisch-Partenkirchen,Skating,Figure skating,GER,pairs,X,Gold
...,...,...,...,...,...,...,...,...
GER,2006,Turin,Skiing,Cross Country S,GER,sprint 1.5km,W,Silver
GER,2006,Turin,Skiing,Nordic Combined,GER,Individual,M,Gold
GER,2006,Turin,Skiing,Nordic Combined,GER,Individual sprint,M,Bronze
GER,2006,Turin,Skiing,Nordic Combined,GER,Team,M,Silver
GER,2006,Turin,Skiing,Snowboard,GER,Giant parallel slalom,W,Silver

In [ ]:
data[(data['Year']>=1990)&(data['Year']<=2000) & (data['NOC']=='USA')&(data['Event gender']=='W')&(data['Medal']=='Gold')].head(15)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
USA,1992,Albertville,Skating,Figure skating,USA,individual,W,Gold
USA,1992,Albertville,Skating,Short Track S.,USA,500m,W,Gold
USA,1992,Albertville,Skating,Speed skating,USA,1000m,W,Gold
USA,1992,Albertville,Skating,Speed skating,USA,500m,W,Gold
USA,1992,Albertville,Skiing,Freestyle Ski.,USA,moguls,W,Gold
USA,1994,Lillehammer,Skating,Short Track S.,USA,500m,W,Gold
USA,1994,Lillehammer,Skating,Speed skating,USA,1000m,W,Gold
USA,1994,Lillehammer,Skating,Speed skating,USA,500m,W,Gold
USA,1994,Lillehammer,Skiing,Alpine Skiing,USA,super-G,W,Gold
USA,1998,Nagano,Ice Hockey,Ice Hockey,USA,ice hockey,W,Gold
USA,1998,Nagano,Skating,Figure skating,USA,individual,W,Gold
USA,1998,Nagano,Skiing,Alpine Skiing,USA,super-G,W,Gold
USA,1998,Nagano,Skiing,Freestyle Ski.,USA,aerials,W,Gold

In [ ]:
data['NOC'].value_counts()

NOR    280
USA    216
URS    194
AUT    185
GER    158
FIN    151
CAN    119
SUI    118
SWE    118
GDR    110
ITA    101
FRA     83
NED     78
RUS     76
FRG     41
CHN     33
JPN     32
KOR     31
TCH     25
EUN     23
GBR     21
EUA     19
CZE     10
LIE      9
POL      8
CRO      7
BUL      6
EST      6
AUS      6
BLR      6
HUN      6
UKR      5
BEL      5
KAZ      5
YUG      4
SLO      4
ESP      2
PRK      2
LUX      2
LAT      1
ROU      1
DEN      1
UZB      1
NZL      1
SVK      1
Name: NOC, dtype: int64

In [ ]:
data['NOC'].count()

2311

In [ ]:
data['NOC'].unique()

array(['AUT', 'BEL', 'CAN', 'FIN', 'FRA', 'GBR', 'NOR', 'SUI', 'SWE',
       'USA', 'GER', 'TCH', 'HUN', 'ITA', 'FRG', 'NED', 'EUA', 'JPN',
       'POL', 'URS', 'PRK', 'GDR', 'ROU', 'ESP', 'LIE', 'BUL', 'YUG',
       'CHN', 'EUN', 'KOR', 'LUX', 'NZL', 'AUS', 'BLR', 'KAZ', 'RUS',
       'SLO', 'UKR', 'UZB', 'CZE', 'DEN', 'CRO', 'EST', 'LAT', 'SVK'],
      dtype=object)

In [ ]:
data.drop('City', axis=1).head(10)

,Year,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,
AUT,1924,Skating,Figure skating,AUT,individual,M,Silver
AUT,1924,Skating,Figure skating,AUT,individual,W,Gold
AUT,1924,Skating,Figure skating,AUT,pairs,X,Gold
BEL,1924,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
CAN,1924,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
FIN,1924,Biathlon,Biathlon,FIN,military patrol,M,Silver
FIN,1924,Skating,Figure skating,FIN,pairs,X,Silver
FIN,1924,Skating,Speed skating,FIN,10000m,M,Gold
FIN,1924,Skating,Speed skating,FIN,10000m,M,Silver
FIN,1924,Skating,Speed skating,FIN,1500m,M,Gold

In [ ]:
data.drop(data.columns[2:4], axis=1).head(10)

     Year      City  NOC            Event Event gender   Medal
NOC
AUT  1924  Chamonix  AUT       individual            M  Silver
AUT  1924  Chamonix  AUT       individual            W    Gold
AUT  1924  Chamonix  AUT            pairs            X    Gold
BEL  1924  Chamonix  BEL         four-man            M  Bronze
CAN  1924  Chamonix  CAN       ice hockey            M    Gold
FIN  1924  Chamonix  FIN  military patrol            M  Silver
FIN  1924  Chamonix  FIN            pairs            X  Silver
FIN  1924  Chamonix  FIN           10000m            M    Gold
FIN  1924  Chamonix  FIN           10000m            M  Silver
FIN  1924  Chamonix  FIN            1500m            M    Gold

In [ ]:
data.groupby('NOC').count

In [ ]:
#apply a function
def uppercase(x):
  return x.upper()
data['Event'].apply(uppercase)[0:2311]

NOC
AUT         INDIVIDUAL
AUT         INDIVIDUAL
AUT              PAIRS
BEL           FOUR-MAN
CAN         ICE HOCKEY
            ...
USA          HALF-PIPE
USA          HALF-PIPE
USA          HALF-PIPE
USA    SNOWBOARD CROSS
USA    SNOWBOARD CROSS
Name: Event, Length: 2311, dtype: object

In [ ]:
data

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
AUT,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
AUT,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
AUT,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
BEL,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
CAN,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
USA,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver